[user]
	name = Alex Busaka
	email = lxbusaka07@gmail.com
[core]
	editor = nvim
[alias]
	gcm = git chechout master
	gc = checkout
	cm = checkout master
	cb = checkout -b
	bd = branch -D
	co = checkout
[diff]
	tool = nvim -d
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
