Xft.dpi:		96
Xft.autohint:   0
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

! special
! *.foreground:   #f1ebeb
! *.background:   #030303
*.cursorColor:  #f1ebeb

/* ! Dracula Xresources palette */
*.foreground: #F8F8F2
*.background: #282A36

! ! black
! *.color0:       #252525
! *.color8:       #535353
! 
! ! red
! *.color1:       #ff009e
! *.color9:       #ff009e
! 
! ! green
! *.color2:       #6fff00
! *.color10:      #6fff00
! 
! ! yellow
! *.color3:       #d5ff00
! *.color11:      #d5ff00
! 
! ! blue
! *.color4:       #00ffc2
! *.color12:      #00ffc2
! 
! ! magenta
! *.color5:       #ff00d4
! *.color13:      #ff00d4
! 
! ! cyan
! *.color6:       #00fff9
! *.color14:      #00fff9
! 
! ! white
! *.color7:       #ffffff
! *.color15:      #ffffff
!
 

/* !! gruvbox: */
*.color0: #1d2021
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2
*.color256: #1d2021
*.color257: #ebdbb2

URxvt.font: xft:Fira Code:size=12,xft:JoyPixels:size=12
URxvt.letterSpace: -1
URxvt.internalBorder: 30
URxvt.loginShell: true
URxvt.scrollBar: false
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.perl-ext-common: default,matcher,resize-font,vtwheel
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.depth: 32
URxvt.background: rgba:0300/0300/0300/f000

! Xterm
XTerm.vt100.faceName: xft:Fira Code:size=12,xft:JoyPixels:size=12
xterm*BorderWidth: 20

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Rofi config file
rofi.lines: 12
rofi.font: Fira Code 11
rofi.show-icons: true
rofi.theme: ~/.config/rofi/oxide.rasi

! State:           bg      border  separator
! rofi.color-window: #222,   #222,   #222 
! State:           'bg',          'fg',    'bgalt',       'hlbg',        'hlfg'
! rofi.color-normal: argb:00000000, #f1ebeb, argb:00000000, argb:00000000, #ff00a0
! rofi.color-active: argb:00000000, #f1ebeb, argb:00000000, argb:00000000, #ff00a0
! rofi.color-urgent: argb:00000000, #f1ebeb, argb:00000000, argb:00000000, #ff00a0
! rofi.separator-style: none
! rofi.hide-scrollbar: true
! rofi.fullscreen: false
! rofi.line-margin: 0
!rofi.eh: 1
!rofi.width: 15
!rofi.location: 0 
!rofi.columns: 1
! rofi.padding: 50
!rofi.width: 100
!rofi.location: 2 
!rofi.columns: 20
! rofi.padding: 5
!rofi.lines: 1

Sxiv.font: Fira Code:size=11
Sxiv.background: #030303
Sxiv.foreground: #ffffff
