/* reddit */
div.organic-listing, div.dfp-ad-container, div#siteTable_organic {
	display: none;
}
div.s89sn2d-1, div.s89sn2d-1 {
	display: none !important;
}
/* google */
li.ads-ad {
	display: none;
}
/* twitter */
div.promoted-tweet {
	display: none;
}
/* youtube */
div.ytd-iframe-companion-renderer, div#masthead-ad, div.ytp-ad-overlay-container {
	display: none !important;
}
div.video.ads, div.adDisplay, div.wide-overlay-ad {
	display: none !important;
}
/* ddg */
div#ads {
	display: none;
}
