* {
    border:        none;
    border-radius: 0;
    /* font-family:   Sans; */
    font-family:   Sans;
    font-size:     10px;
    font-weight:   bold;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    min-height: 10px
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.00);
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    margin: 0 0px;
}

#workspaces button {
    padding:    0 5px;
    /* color:      rgba(217, 216, 216, 0.4); */
    color:      rgba(217, 217, 217, 1);
}

#workspaces button.visible {
    /* color:      rgba(217, 216, 216, 1); */
    color:      rgba(217, 83, 79, 1);
}

#workspaces button.focused {
    /* border-top: 3px solid rgba(217, 216, 216, 1); */
    border-top: 3px solid rgba(217, 83, 79, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    /* color:      rgba(238, 46, 36, 1); */
    color:      rgba(217, 83, 79, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 6px;
    min-width:  25px;
}

#clock {
    margin:     0px 1px 0px 5px;
    min-width:  50px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}


